*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none;}

a,
button,
span,
img { display: block; }

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {
    width: 100%;
    outline: none;
}

button {
    cursor: pointer;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.65;
}

