.login-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-boxes {
    width: 1080px;
    height: 750px;
    background-color: red;
}